@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans';
}

.pushdown {
	margin-top: 70px;
}

.pushabit {
	margin-top: 15px;
}

.navbar {
	background-color: #375e97;
	border: none;
	color: #f6ea90;
	font-weight: 600;
}

.navbar a {
	color: #f6ea90;
}